.selector-for-some-widget {
    box-sizing: content-box;
}

.header__top {
    padding: 10px 0px 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav1 {
    display: flex;
    padding: 0 20px;
    float: right;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.nav1:hover {
    color: blue;
}

.button1 {
    border-radius: 10px;
    color: white;
    background-color: blue;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    opacity: 70%;
}

.button1:hover {
    opacity: 100%;
}

.button2 {
    border-radius: 10px;
    color: black;
    background-color: white;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    opacity: 70%;
}

.button2:hover {
    opacity: 100%;
}

.button3 {
    width: 400px;
    margin-left: 700px;
    margin-top: -250px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
}

.box {
    background-color: rgba(81, 102, 255, 0.54);
    padding: 6.25rem 1.25rem;
    box-shadow: #89908d 3px 3px 3px 3px;
    display: flex;
    justify-content: center;
    left: 10%;
    border-radius: 20px;
    padding-top: 20px;

}

.img1 {
    width: 400px !important;
}

.drop {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.img {
    width: 100px;
    height: 100px;
}

.box1 {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label {
    background-color: rgba(51, 122, 183, 0.93);
    font-size: large;
    border-radius: 50%;
    width: 40%;
    padding: 20px;
    text-align: center;
    color: white;
}

label:hover {
    background-color: rgba(45, 56, 115, 0.93);
}
.l_text1
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.l_text2
{
    padding-left: 400px;
    padding-top: 220px;
}