body {
    margin: 10;
    padding: 10;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    outline: none ;
    text-decoration: none
;
}

.login-form {
    height: 80vh;
    background-image: url("bg.jpg");
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.login-form .box {
    min-width: 400px;
    min-height: 450px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #cccccc;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.login-form .box .img img {
    width: 60px;
    display: block;
    margin: auto;
}

.login-form .box .heading h4 {
    color: mediumvioletred;
    font-size: 22px;
    text-align: left;
    margin: 15px 0px 20px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    border-radius: 20px;
    display: inline-block;
}

.login-form .box .form-fields {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
}

.login-form .box .form-fields .input-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.login-form .box .form-fields .input-box .form-control {
    height: 40px;
    width: 100%;
    padding: 10px 10px 10px 45px;
    bottom: 10px;
    color: #4444444;
    border: 1px solid #cccccc;
}

.login-form .box .form-fields .input-box .form-control::placeholder {
    color: #cccccc;
    border-radius: 20px;
}

.login-form .box .form-fields .input-box span {
    position: absolute;
    left: opx;
    top: 10px;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.login-form .box .form-fields .input-box span img {
    width: 22px;
}

.login-form .box .form-fields  .button-box {
    width: 100%;
    display: flex;
    align-items: center;
}
.login-form .box .form-fields  .button-box button {
    color: #ffffff;
    font-size: 16px;
    padding: 8px 35px;
    background-color: palevioletred;
    transition:box-shadow .5s ease;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.login-form .box .form-fields  .button-box button:hover{
    box-shadow: 0px 0px 10px #444444;
}
.login-form .box .form-fields  .button-box a {
    font-size: 16px;
    color: #eea9da;
}

.login-form .box .social-links {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-form .box .social-links p {
    text-align: center;
    color: #cccccc;
    font-size: 14px;
    margin: 20px 0px 20px;
}
.login-form .box .social-links .links-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-form .box .social-links .links-box a {
    color: #ffffff;
    padding: 8px;
    width: calc(33.33% - 15px);
    font-size: 14px;
    text-align: center;
    transition: box-shadow: .5s ease;
}
.login-form .box .social-links .links-box a:hover {
    box-shadow: 0px 0px 10px gray;
}

.login-form .box .social-links .links-box a.facebook {
    background-color: deeppink;
}
.login-form .box .social-links .links-box a.google {
    background-color: cornflowerblue;
}
.login-form .box .social-links .links-box a.twitter {
    background-color: #7EA7BD;
}

@media (max-width: 500px) {
    .login-form .box {
        min-width: 100%;
        padding: 30px;
    }
    .login-form form {
        min-width: 100%;
    }
}