* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dog a{

    color: #eea9da;
    background: #3F5664;
    display: block;
    height: 50px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-size: 20px;
}

#dog a:hover {
    background: #385753;
}
#dog ul {
    list-style: none;
    text-align: center;
}

#dog li {
    width: 100%;
    text-align: center;
    position: relative;
}

#dog li:hover .submenu > li {
    display: block;
    top: 0px;
    text-align: center;
}

.cat li {
    display: none;
    position: absolute;
    top: 2px;
}

.cat {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    text-align: center;
}

.cat li {
    position: relative;
    text-align: center;
}

.cat li:hover .submenu-2 li {
    display: block;
    text-align: center;
}
.cat-2 li {
    display: none;
    text-align: center;
}

.cat-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 150%;
    width: 150px;
    text-align: center;
}

.luna {
    margin-left: 20px;
    color: #eea9da;
    font-size: 20px;
}