.pink {
    display: flex;
    flex-direction: column;
    border: solid 10px #7EA7BD;
    margin: 30px 300px 30px 300px;
}

.media {
    font-style: oblique

    color: #3F5664;
    display: flex;
    padding: 3px;
    border: solid 7px #eea9da;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 70px;
}

.media:nth-of-type(odd) {
    flex-direction: row;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 40px;
}
.media:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
    margin-bottom: 10px;

}