p
font-family: monospace, monospace
font-size: 20px;
line-height: 20px
{
    font-size: 23px;
}
span
{
    color: #445162;
}
#d-block
{
    background-color: #9779ec;
    display: block;
    width: 5%;
}
#d-inline
{
    background-color: #f36dff;
    display: inline;
    width: 20%;
}
#d-inline-block
{
    background-color: #7EA7BD;
    display: inline-block;
    width: 15%;
}