body, html {
    font-family: monospace, monospace
    font-size: 14px;
    line-height: 15px
}

html {
    padding: 0
}

*,
body, html {
    margin: 10
}

body {
    padding: 15px 10px
    margin: auto;
    margin-top: 50px;
    margin-left: 500px;
}

footer::before,
header::before, main::before {
    color: #9779ec;
}

footer, header, main {
    background-color: #f36dff;
    border: 2px solid #3F5664;
    width: 500px
}

article, aside, nav, section {
    background-color: #eea9da;
    border: 2px solid #445162;
}

article::before, aside::before, nav::before, section::before {
    color: #9779ec
}

h1, p {
    background-color: #9779ec;
}

h1 {
    font-size: 18px;
    border: 2px solid #3F5664;
}

h1::before {
    content: "h1";
    color: #7EA7BD;
}

p {
    border: 2px solid #f36dff
}

* {
    position: relative;
    padding: 30px 20px 20px;
    border-radius: 10px
}

:not(:last-child) {
    margin-bottom: 10px
}

::before {
    position: absolute;
    top: 10px;
    left: 5px;
    font-weight: 700;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: .04em
}

main::before {
    content: "main"
}

header::before {
    content: "header"
}

footer::before {
    content: "footer"
}

section::before {
    content: "section"
}

article::before {
    content: "article"
}

aside::before {
    content: "aside"
}

nav::before {
    content: "nav"
}

p::before {
    content: "p";
    color: #f36dff
}

main {
    display: grid;
    grid-template-areas: "nav nav sidebar" "columns columns sidebar"
}

main > nav {
    grid-area: nav;
    margin-right: 20px
}

main > nav + section:last-of-type {
    grid-area: columns;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-bottom: 0
}

main > nav + section > p:not(:only-child) {
    margin-bottom: 20
}

main > nav + section > p:not(:last-child) {
    margin-right: 20px
}

main > aside {
    grid-area: sidebar
}