
.calculator {
    bottom: 30px;
    background-color: palevioletred;
    border-radius: 10px;
    border: black 1px solid;
    width: 300px;
    margin: auto;
    border-radius: 20px;
}

.screen {
    width: 60%;
    font-size: 26px;
    height: 56px;
    background-color: #eea9da;
    border-radius: 20px;
    border: black 1px solid;
    padding-right: 20px;
    padding-left: 10px;
    margin: 10px;
    margin-bottom: 3px;
    margin-right: 3px;
}
.screen:hover {
    width: 55%;
    font-size: 26px;
    height: 56px;
    background-color: #eea9da;
    border-radius: 20px;
    border: black 1px solid;
    padding-right: 20px;
    padding-left: 10px;
    margin: 10px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.operator, .number {
    width: 70px;
    height: 50px;
    background-color: pink;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 3px;
}

.operatorc {
    width: 65px;
    height: 60px;
    background-color: lightskyblue;
    border-radius: 20px;
    font-size: 16px;
}
.operatorc:hover {
    width: 50px;
    height: 50px;
    background-color: lightskyblue;
    border-radius: 20px;
    font-size: 16px;
}

.calculator-keys {
    padding: 10px;
    border-radius: 20px;
}