* {
    text-align: center;
    font-family: monospace, monospace;
    border-radius: 10px;
}

#pgbar {
    width: 80%;
    background-color: #cccccc;
    border-radius: 10px;
    height: 30px;
    margin: 150px;
    margin-top: 300px;
    margin-bottom: 20px;
}

#progress {
    width: 0%;
    border: 10px;
    height: 30px;
    background-color: #eea9da;
    line-height: 40px;
}

button {
    background-color: mediumvioletred;
    border-radius: 10px;
    color: white;
    width: 60px;
    height: 30px;
    font-size: 20px;
}


button:hover {
    background-color: hotpink;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-size: 20px;
}