.calculate {
    font-family: monospace, monospace;
    text-align: center;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-family: monospace, monospace;
}

input[type="button"] {
    text-align: center;
    background-color: #eea9da;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-size: 100%;
}
input[type="button"]:hover {
    text-align: center;
    background-color: #eea9da;
    border-radius: 40px;
    width: 300px;
    height: 60px;
    font-size: 100%;
}

input[type="number"] {
    border: 1px solid #9779ec;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 50%;
    width: 50%;
    height: 20px;
}
