body{
    margin: 10px;
    animation-name: loading;
    animation-duration: 10s;
}
@keyframes loading {
    0% {background-color: black;}
    30% {background-color: grey;}
    50% {background-color: rgb(231, 231, 60);}
    100% {background-color: white;}
}
.larry{
    width: 100%;
    height: 240px;
    border-radius: 3px;
    background-color: rgba(117, 117, 221, 0.418);
    text-align: center;
}
h1{
    padding-top: 20px;
}
h4{

}
.garry{
    width: 80%;
    height: 40px;
    border:  rgb(56, 56, 238) 3px;
    border-radius: 3px;
    background-color: rgb(56, 56, 238);
    color: white;

}
.be{
    font-size: 20px;

}
p{
    font-size: 15px;

}
a{
    color: rgba(117, 117, 221, 0.932);
}
.one{
    width: 300px;
    height: 300px;
    border: 3px grey;
}
.one:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.two{
    width: 350px;
    height: 350px;
}
.two:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.three{
    width: 300px;
    height: 300px;
}
.three:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.foot{
    width: 100%;
    height: 50px;
    background-color: rgba(197, 223, 154, 0.699);
    color: #556B2F;
    padding-top: 6px;
    text-align: center;

}