body{
    background-image: url('https://cdn.shopify.com/s/files/1/0945/1742/files/Muay_thai_Collection_Banner_Master1___mobile_400x.jpg?v=1542442700');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}