.container{
    position: relative;
}
.center{
    position: relative;
    top: -500px;
    left: 0;
    width: 100%;
    text-align: center;
}
img{
    position: relative;
    left: 750px;
    height: 500px;
    width: 400px;
}
h1{
    color: dodgerblue;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Muli', sans-serif;
}
h2{
    color: black;
    font-size: 45px;
    font-family: 'Zhi Mang Xing', cursive;
}