.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-color: white;
}

.header__top {
    padding: 10px 0px 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
}

.menu a:hover {
    border-color: red;
}

.menu li+li {
    padding-left: 10px;
}

.top {
    padding-top: 50px;
    padding-bottom: 180px;
}

.top__inner {
    display: flex;
}

.top-info {
    max-width: 550px;
    margin-right: 35px;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
}

h5 {
    font-family: 'Martel', serif;
}

.row {
    font-family: Oxanium;
}

.container {
    font-family: Titillium Web;
}

.content-icon{
    padding-top: 50px;
    padding-bottom: 180px;
    padding-left: 300px;
}
.media{
    display: inline-block;
    padding: 0px 100px;

}

.map{
    display: inline-block;
    background-repeat: no-repeat;
}
input[type="button"] {
    text-align: center;
    background-color: red;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 100%;
}
.div8{
    width: 400px;
    float: left;

}

.div9{
    width: 400px;
    float: left;
    margin-left: 100px;
}

.div10{
    background-color: darkblue;
    width: 400px;
    height: 200px;

}

.span1{
    color: white;
    font-size: 15px;
    font-weight: 500;
    opacity: 70%;
    margin-left: 30px;
}

.span2{
    color: white;
    font-size: 25px;
    font-weight: 650;
    margin-left: 30px;
}

.span3{
    color: white;
    font-size: 15px;
    margin-left: 30px;
}
.div7{
    margin-left: 250px;
    margin-top: 100px;
    height: 200px;
}

.div11{
    background-color: green;
    width: 400px;
    height: 200px;
}
.img1{
    width: 400px;
}
.authors{
    margin-top: 100px;
}

.marta{
    width: 20%;
    float: left;
    margin-left: 100px;
}



.names{
    font-size: 20px;
    font-weight: bold;
}

.martaimg{
    margin-left: 20px;
}

.found{
    font-style: italic;
    font-weight: 400;
}

.nav1{
    display: flex;
    padding: 0 20px;
    float: right;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nav1:hover{
    color: blue;

}

.divheight{
    height: 20px;
}